h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic; font-size: xx-large; color: blueviolet;
}
p{
    font-family: 'Times New Roman', Times, serif; font-style: normal; font-size: larger;
}